  <footer class="footer py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mb-4 mx-auto text-center">
          <a href="#"  class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            TEST
          </a>
          <a href=""  class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Project
          </a>
          <a href="" class="text-secondary me-xl-5 me-3 mb-sm-0 mb-2">
            Product
          </a>
        </div>
      </div>
    </div>
  </footer>
